body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.container {
  max-width: 600px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b082d;
  text-align: center;
  padding: 10px 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.logotext {
  font-family: 'Playwrite CL', cursive;
  font-size: 48px;
  color: black;
}
